#body-main {
    /*  background-color: #303030;*/
    background-color: black;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important;
}

.wrapper-main {
    width: 100%;
}

.header-main {
    width: 100%;
    padding: 40px 0;
}

.logo-main {
    width: 450px;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    padding: 10px 0;
    /*	background-color: #A54F4F;*/
    text-align: center;
    border-top: 5px double #0193DE;
    border-bottom: 5px double #DA251E;
}

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}

.socials {
    width: 100%;
    text-align: center;
    background-color: #292929;
}

.socialdivs {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.fb {
    width: 250px;
    height: 155px;
    float: left;
}

.fb:hover {
    background-color: #4668b3;
}

.yt {
    width: 250px;
    height: 155px;
    float: left;
}

.yt:hover {
    background-color: #d94348;
}

.tw {
    width: 250px;
    height: 155px;
    float: left;
}

.tw:hover {
    background-color: #3095d3;
}

.gplus {
    width: 250px;
    height: 155px;
    float: left;
}

.gplus:hover {
    background-color: #d95333;
}

.footer {
    text-align: center;
    background-color: #222222;
    padding: 30px;
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

ol > li {
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b;
}

ol > li:first-child {
    border-left: 1px dashed #751b1b;
}

ol > li:hover {}

ol > li:hover > a {
    /*color: green;*/
    font-weight: 800;
}

ol > li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul {
    display: block;
}

ol > li > ul > li {
    /*background-color: #cf6969;*/
    background-color: #0193DE;
    position: relative;
    z-index: 100;
    border-top: 1px dashed #751b1b;
}

ol > li > ul > li:hover {
    background-color: #0193DE;
}

ol > li > ul > li:hover > a {
    color: #451717;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.col-md-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-right: 1px solid silver;
    text-align: center;
}

.btn-default {
    width: 100px;
    color: blue;
}